div {
    background: #ffdddd;
}

.square {
    background-color: #ddffff;
    border: 0.5px solid #000;
    border-color: #fff #000 #000 #fff;
    width: 39px;
    height: 39px;
    display: inline-block;
}

.hide {
    opacity: 0;
}

#button {
    padding: 10px 30px;
    border-radius: 12.5px;
    background-color: #ffffdd;
    color: gray;
    float: right;
}